@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Open+Sans&family=Source+Sans+Pro:wght@300&display=swap');

body {
  align-content: center;
  z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
  color: white;
  max-width: 960px;
  margin: 0 auto;
  font-family: arial;
  font-family: 'Source Sans Pro', sans-serif;
}

h1{
  font-size: 70px;
  color: rgb(235, 216, 52);
  font-family: 'Monoton', cursive;
}

.input{
  margin-bottom: 2rem;
}

.namediv{
  padding: 10px;
}

.characterDiv{
  padding: 1rem
}

.image{
  max-width: 100px;
  max-height: 100px;
}

.movieList{
  padding: 10px;
  color: white;
}

.favButton {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-image: linear-gradient(to top left, #28b487, #7dd56f);
  margin-right: 2rem;

}

.favButtonOff {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  background-image: linear-gradient(to top left, #FF0000, #FF2400);
  margin-right: 2rem;

}

.starwars{
  align-items: center;
  left: 51px;
  margin-left: 0;
  position: absolute;
}

.twinkling{
	z-index: 2;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 300s linear infinite;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
.characterList{

}

.favTitle{
  font-size: 30px;
}
.movieLinks{
  font-size: 30px;
  text-decoration: none;
}

.shortListSpan{
  padding-right:1rem;
}

.favoutiteArea{
  height: 5rem;
  padding-top: 22px;

}

input{
  width: 960px;
  height: 30px;
  font-size: 16px;
  border-radius: 20px;
}

label{
  font-size: 30px;
}

.charactersContainer{
  display:grid;
  grid-template-columns: 1fr 1fr
}
