@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Open+Sans&family=Source+Sans+Pro:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cuprum:wght@700&display=swap');

body {
  align-content: center;
  z-index: 0;
	background: #000 url('https://image.ibb.co/mjnygo/stars.png') repeat top center;
  color: white;
  max-width: 960px;
  margin: 0 auto;
  font-family: arial;
  font-family: 'Cuprum', sans-serif;
}

h1{
  font-size: 70px;
  color: rgb(235, 216, 52);
  font-family: 'Monoton', cursive;
  text-align: center;
}

.input{
  margin-bottom: 2rem;
}

.namediv{
  padding: 10px;
  font-size: 22px;
  text-align: center;
}

.namediv:hover{
  color: #ebd834;
  cursor:pointer;
}

.characterDiv{
  display: grid;
  padding: 1rem;
  grid-template-columns: 1fr 1fr;
}

.image{
  max-width: 100px;
  max-height: 100px;
}

.movieList{
  padding: 10px;
  color: white;
  transition: transform 0.5s;
  max-width: 400px;

}
.movieList:hover{
  color: purple;
  transform: scale(1.05);

}

.favButton {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background-image: linear-gradient(to top left, #28b487, #7dd56f);
  margin-right: 2rem;
  cursor:pointer;

}

.favButtonOff {
  width: 35px;
  height: 35px;
  border-radius: 35px;
  background-image: linear-gradient(to top left, #FF0000, #FF2400);
  margin-right: 2rem;
  cursor:pointer;


}

.starwars{
  align-items: center;
  left: 51px;
  margin-left: 0;
  position: absolute;
}

.twinkling{
	z-index: 2;
	background:transparent url('https://image.ibb.co/ir1DE8/twinkling.png') repeat top center;
	animation: move-twink-back 300s linear infinite;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}
.characterList{

}

.favTitle{
  font-size: 30px;
}
.movieLinks{
  font-size: 30px;
  text-decoration: none;
  color: #ebd834;
  transition: transform 2s;
}

.movieLinks:hover{
  color: blue;
}

.shortListSpan{
  padding-right:1rem;
  // white-space: nowrap;
}

.favoutiteArea{
  height: 5rem;
  max-width: 960px;
  padding-top: 22px;

}

.shortListSpan{
  color: green;

}

input{
  width: 960px;
  height: 30px;
  font-size: 16px;
  border-radius: 10px;
  opacity: .85
}

input:hover{
  opacity: 1;
}

label{
  font-size: 30px;
}

.lds-dual-ring{
  display: inline-block;
  width: 80px;
  height: 80px;
}

.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

nav{
  padding-top: 15px;
  padding-bottom: 40px;
  text-align: right;
}

.navLinks{
  color: white;
  padding-right: 20px;
}

.planetCardDisplay{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;


}

.planetCard{
  margin: 10px;
  text-align: center;
  line-height: 33px;
  height: 200px;
  width: 200px;
  border-radius: 10px;
  border: 1px solid;
  // border-color: #888888
  box-shadow: 5px 5px #888888


}
