

body {
  margin: 0 auto;
  max-width: 1000px;
}

.input{
  margin-bottom: 2rem;
}

.movieList{
  padding: 10px;
}

.characterDiv{
  padding: 1rem
}

.image{
  max-width: 100px;
  max-height: 100px;
}
